<div class="wrapper-normal">
    <div class="header-home">
      <div>
        <img class="selfie" alt="Alya" src="{{ site.url }}/images/alya.jpg">
      </div>
      <div class="social-links">
        <a class="social" href="http://instagram.com/aaraitum">
          <i class="fa fa-instagram">
          </i>
        </a>
        <a class="social" href="http://medium.com/@mutiaraa">
          <i class="fa fa-medium">
          </i>
        </a>
        <a class="social" href="mailto:alyamf@gmail.com">
          <i class="fa fa-envelope">
          </i>
        </a>
        <a class="social" href="http://linkedin.com/in/alyamf">
          <i class="fa fa-linkedin">
          </i>
        </a>
      </div>
      <p class="description">
        Data / Viz / Design
      </p>
    </div>
  </div>